@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*CSS reset*/

* {
    padding: 0;
    margin: 0;
}

/*Usefull settings*/

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-theme-lightdark: #404662;
    --color-dark: #080C24;
    --color-white: #ffffff;
    --color-grey-0: #AAAAAA;
    --color-grey-1: #CCCCCC;
    --color-grey-2: #E3E3E3;
    --color-grey-3: #EEEEEE;
    --color-grey-4: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;
    
    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-large: 40px;
    --border-radius-rounded: 50%;
}

/* general settings */

html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}
.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-theme-light);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    transition: 300ms ease-in;
    border: none;
}
    .btn-theme:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-theme-light);
        transform: scale(1.2);
    }
    .btn-theme:focus {
        background-color: var(--color-theme-dark);
        color: var(--color-theme-light);
    }

.btn-white {
    background-color: var(--color-white);
    color: var(--color-theme);
    border-radius: var(--border-radius-large);
    font-weight: var(--font-weight-medium);
    padding: 1rem 2rem;
    transition: 300ms ease-in;
    border: none;
}
    .btn-white:hover {
        background-color: var(--color-theme);
        color: var(--color-theme-light);
        transform: scale(1.2);
    }
    .btn-white:focus {
        background-color: var(--color-theme-dark);
        color: var(--color-theme-light);
    }

.btn-dark {
    background-color: var(--color-theme-dark);
    color: var(--color-white);
    border-radius: var(--border-radius-large);
    font-weight: var(--font-weight-medium);
    padding: 1rem 2rem;
    transition: 300ms ease-in;
    border: none;
}
    .btn-dark:hover {
        background-color: var(--color-white);
        color: var(--color-theme-dark);
        transform: scale(1.2);
    }
    .btn-dark:focus {
        background-color: var(--color-theme-dark);
        color: var(--color-theme-light);
    }

.section-title {
    padding-top: 7rem;
    color: var(--color-theme-dark);
    text-align: center;
    font-weight: var(--font-weight-bold);
}
    .section-title h1 {
        font: var(--font-play);
        font-size: 2.5rem;
    }
        .section-title h1 span {
            color: var(--color-theme);
        }
    .section-title p {
        font-weight: var(--font-weight-regular);
        padding: 1.2rem;
    }
  
.instock {
    color: var(--color-product-instock);
}
.outofstock {
    color: var(--color-product-outofstock);
}

/* General cards */

.cloth-cards {
    padding: 0rem;
}
    .cloth-cards .card {
        position: relative;
        height: 400px;
        width: 400px;
        overflow: hidden;
        background-color: var(--color-grey-3);
    }
        .cloth-cards .card .card-body {
            position: absolute;
            bottom: 0;
            height: 13%;
            color: var(--color-white);
            z-index: 1;
            transition: 200ms ease-in;
            font-size: 1rem;
            width: 100%;
        }
            .cloth-cards .card:hover .card-body {
                height: 40%;
            }
            .cloth-cards .card .card-body h2 {
                font-size: 1.12rem;
                margin-bottom: 2rem;
                transition: 300ms ease-in;
                font-weight: var(--font-weight-regular);
            }
                .cloth-cards .card:hover .card-body h2 {
                    margin-bottom: 0;
                }
            .cloth-cards .card .card-body button {
                background-color: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                padding-left: 0.7rem;
                padding-right: 0.7rem;
                margin: 0.5rem 0;                
            }
            .cloth-cards .card .card-body .card-price {
                text-decoration: line-through;
            }
            .cloth-cards .card .card-body .card-discount-star {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: var(--color-theme);
            }
                .cloth-cards .card .card-body .card-discount-star .card-discount-price {
                    font-weight: var(--font-weight-medium);
                    font-size: 1.25rem;
                    margin: 0;
                }
        .cloth-cards .card .card-menu {
            position: absolute;
            right: 1.25rem;
            top: 101%;
            z-index: 1;
            list-style: none;
            margin: auto;
            padding: 0.7rem;
            font-size: 1.25rem;
            border-radius: var(--border-radius-medium);
            background-color: var(--color-white);
            transition: 300ms ease-in;
            
        }
            .cloth-cards .card:hover .card-menu {
                top: 20px;
            }
            .cloth-cards .card .card-menu li{
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            .cloth-cards .card .card-menu li a {
                color: var(--color-grey-0);
            }
                .cloth-cards .card .card-menu li a:hover {
                    color: var(--color-theme);
                }
        .cloth-cards .card .card-background {
            position: absolute;
            bottom: 0;
            height: 13%;
            width: 100%;
            background-color: var(--color-theme-dark);
            opacity: 0.90;
            transition: 300ms ease-in;
        }
            .cloth-cards .card:hover .card-background {
                height: 100%;
            }

/* Top Menu */

.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    min-height: 40px;
    padding: 0.3rem 0;
}
    .top-menu > .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    /* Site Settings */

    .top-menu .site-settings {
        display: flex;
    }
        .top-menu .site-settings .dropdown-theme {
            background-color: var(--color-theme);
            color: var(--color-theme-light);
        }
            .top-menu .site-settings .dropdown-theme button {
                background-color: var(--color-theme);
                color: var(--color-theme-light);
                border: none;
            }
                .top-menu .site-settings .dropdown-theme button:hover {
                    color: var(--color-theme-dark);
                    transition: 300ms;
                }
                .top-menu .site-settings .dropdown-theme .dropdown-menu {
                    background-color: var(--color-theme);
                    color: var(--color-theme-light);
                    border: none;
                }
                .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item {
                    background-color: var(--color-theme);
                    color: var(--color-theme-light);
                    border: none;
                    width: 100%;
                    margin: 0;
                }
                    .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover {
                        background-color: var(--color-theme-dark);
                    }

        /*social media links*/

        .top-menu .menu-links {
            display: none;
        }
        .top-menu .menu-links .links{
            display: none;
        }
        .top-menu .menu-links a {
            color: var(--color-theme-light);
            text-decoration: none;
            margin: 0 0.9rem;
        }
            .top-menu .menu-links a:hover {
                color: var(--color-theme-dark);
                transition: 300ms ease-in;
            }
            .top-menu .menu-links .social-media {
                margin-left: 1rem;
                font-size: var(--font-size-14);
            }
                .top-menu .menu-links .social-media a {
                    margin: 0 0.2rem;
                }
                    .top-menu .menu-links .social-media a:last-child {
                        margin: 0 0 0 0.2rem;
                    }

/* Main Menu */

.main-menu {
    background-color: var(--color-white);
}
    .main-menu > .container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
    .main-menu .brand {
        flex: 1;
        padding: 0 0 1rem 0;
    }
    .main-menu .search {
        flex: 3;
    }

    /*links such as my account, liked products etc*/

    .main-menu .links {
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: center;
    }
        .main-menu .links .menu-link {
            text-decoration: none;
            color: var(--color-theme-dark);
            margin: 0 0.5rem;
        }
            .main-menu .links .menu-link:last-child {
                margin: 0 0 0 0.8rem;
            }
            .main-menu .links .menu-link:first-child {
                margin: 0 1.6rem 0 0;
            }
            .main-menu .links .menu-link:hover {
                color: var(--color-theme);
                transition: 300ms;
            }
            .main-menu .links .menu-link i {
                font-size: var(--font-size-16);
            }
            .main-menu .links #cart {
                position: relative;
            }
                .main-menu .links #cart .badge {
                    position: absolute;
                    top: -1.1rem;
                    left: 0.9rem;
                    background-color: var(--color-theme);
                    transition: 300ms ease-in;
                }
                    .main-menu .links #cart:hover .badge {
                        background-color: var(--color-theme-dark)
                    }

    /*Main menu navigation bar*/

    .main-menu nav {
        border-top: 1px solid var(--color-grey-2);
        border-bottom: 1px solid var(--color-grey-2);
    }
        .main-menu > nav > .container {
            display:flex;
            justify-content: space-between;
        }

        /*Browse Categories button*/

        .main-menu nav .browse-categories {
            flex: 2;
        }
            .main-menu nav .browse-categories button {
                background-color: var(--color-theme);
                color: var(--color-theme-light);
                border: none;
                font-size: 1.1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 0.9rem;
                transition: 300ms ease-in;
            }
                .main-menu nav .browse-categories button:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme-light);
                }
                .main-menu nav .browse-categories .dropdown .dropdown-menu{
                    background-color: var(--color-theme);
                    color: var(--color-theme-light);
                    border: none;
                }
                    .main-menu nav .browse-categories .dropdown .dropdown-menu .dropdown-item {
                        background-color: var(--color-theme);
                        color: var(--color-theme-light);
                        border: none;
                        width: 100%;
                        margin: 0;
                    }
                        .main-menu nav .browse-categories .dropdown .dropdown-menu .dropdown-item:hover {
                            background-color: var(--color-theme-dark);
                        }

        /*Special offer Button*/

        .main-menu nav .special-offer{
            flex: 6;
            display: flex;
            justify-content: end;
            align-items: center;
        }


/* showcase */

.showcase {
    background-color: var(--color-grey-3);
}
    .showcase .container {
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
        .showcase .showcase-body h1 {
            font-size: 4rem;
            font-family: var(--font-play);
        }
            .showcase .showcase-body h1 span {
                font-weight: var(--font-weight-bold);
                color: var(--color-theme);
            }

            .showcase .showcase-body a {
                display: inline-block;
            }


    .showcase img {
        display: none;
    }

/* shop info */

.shop-info {
    padding: 1rem;
}
    .shop-info .info-box {
        background-color: var(--color-theme-light);
        display: flex;
        align-items: center;
        margin: 2rem 0;
        border-radius: var(--border-radius-small);
        padding: 0.2rem;
    }
        .shop-info .info-box:hover{
            background-color: var(--color-theme);
            color: var(--color-white);
            transition: 300ms ease-in;
        }
        .shop-info .info-box img {
            margin: 1rem;
        }
            .shop-info .info-box:hover img{
                filter: brightness(1000%)
            }
        .shop-info .info-box h2 {
            color: var(--color-theme);
            font-size: var(--font-size-16);
            font-weight: medium;
        }
            .shop-info .info-box:hover h2 {
                color: var(--color-white);
            }

/* Shop by category grid */

    .shop-by-category .grid {
        display: grid;
        gap: 0.8rem;
        grid-template-columns: repeat(5, minmax(150px, 249px));
        grid-template-rows: repeat(3, 249px);

    }
    .shop-by-category .category-box {
        position: relative;
        background-color: var(--color-grey-1);
        border-radius: var(--border-radius-small);
        overflow: hidden;
        text-decoration: none;
        height: 100%;
        width: 100%;
    }
        .shop-by-category .category-box .category-box-title {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            border-radius: 0 var(--border-radius-small) 0 0;
            background-color: var(--color-theme-dark);
            color: var(--color-theme);
            padding: 0.5rem 1rem;
            font-weight: var(--font-weight-medium);
            height: 40px;
            transition: 300ms ease-in;
        }
            .shop-by-category .category-box:hover .category-box-title {
                height: 70px;
            }
            .shop-by-category .category-box .category-box-title span {
                color: var(--color-white);
                display: block;
                font-size: 0.8rem;
                margin-top: 0.6rem;
            }

            
    #category-box-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #category-box-2{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #category-box-3{
        grid-column: 4 / -1 ;
        grid-row: 1 / 3 ;
    }
    #category-box-4{
        grid-column: 1 / 3 ;
        grid-row: 2 / -1 ;
    }
    #category-box-5{
        grid-column: 3 / 4  ;
        grid-row: 2 / 3 ;
    }
    #category-box-6{
        grid-column: 3 / 5 ;
        grid-row: 3 / -1 ;
    }
    #category-box-7{
        grid-column: 5 / -1 ;
        grid-row: 3 / -1 ;
    }

/* 30% off banner */

.banner-30 {
    background-color: var(--color-grey-1);
    margin-top: 10rem;
}
    .banner-30 .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 418px;
    }
    
    .banner-30 .banner-body-left {
        background-color: var(--color-theme);
        height: 100%;
        min-width: 250px;
        color: var(--color-white);
        padding-top: 7rem;
        text-align: center;
    }
        .banner-30 .banner-body-left h3 {
            font-size: 3.75rem;
            font-weight: var(--font-weight-bold);
            font-family: var(--font-play);
        }
            .banner-30 .banner-body-left h3 span {
                font-size: 2.25rem;
            }
    
    .banner-30 .banner-body-right {
        width: 450px;
        color: var(--color-white);
        font-size: 0.875rem;
    }

/* Flash Sale */

.flash-sale {
    background-color: var(--color-theme-lightdark);
    height: 435px;

}
    .flash-sale .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10rem;
    }
    .flash-sale .flash-sale-left {
        background-color: var(--color-theme);
        height: 265px;
        width: 255px;
        text-align: center;
        padding-top: 2rem;
        color: var(--color-white); 
    }
        .flash-sale .flash-sale-left h3 {
            font-family: var(--font-play);
            font-size: 3.75rem;
            font-weight: var(--font-weight-bold);
        }
        .flash-sale .flash-sale-left p {
            font-size: 1.5rem;
            font-weight: var(--font-weight-medium);
        }
    .flash-sale .flash-sale-grid {
        display:flex;
        position:relative;
        margin-top: 5rem;
    }

        .flash-sale .flash-sale-grid .flash-time {
            background-color: var(--color-white);
            color: var(--color-theme);
            font-family: var(--font-play);
            font-weight: var(--font-weight-bold);
            font-size: 2.25rem;
            width: 109px;
            height: 109px;
            border-radius: var(--border-radius-rounded);
            border: 3px dashed var(--color-theme);
            margin-left: 2rem;
            padding-top: 1rem;
            text-align: center;
            line-height: 0.8;
        }
            .flash-sale .flash-sale-grid .flash-time span{
                color: black;
                font-family: var(--font-roboto);
                font-weight: var(--font-weight-regular);
                font-size: 1rem;
                padding-top: 0;
            }
        .flash-sale .flash-sale-grid .btn-flash {
            position: absolute;
            margin-top: 8rem;
            margin-left: 14rem; 
        }

/* Top Sellers */

.grid-tops-container {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: 345px;
    grid-template-areas: 
        "left upper-right"
        "left lower-right"
    ;
}

.grid-tops-1 {
    grid-area: left;
}
.grid-tops-2 {
    grid-area: upper-right;
}
.grid-tops-3 {
    grid-area: lower-right;
}


/*media queries making the site responsive*/

@media (min-width: 578px) {

    .top-menu > .container {
        justify-content: space-between;
    }
    .top-menu .menu-links {
        display: block;
    }
    .main-menu > .container {
        flex-direction: unset;
    }

@media (min-width: 768px) {

    .showcase .showcase-body h1 span {
        display: block;
    }
    .showcase .showcase-body h1 {
        font-size: 5rem;
    }

}
@media (min-width: 992px) {

    .top-menu .menu-links .links {
        display: inline;
    }


    .showcase .container {
        text-align: left;
        justify-content: space-between;
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
    }
        .showcase .showcase-body h1 {
            font-size: 3rem;
        }
        .showcase img {
            display: block;
            width: 40%;
        }
    .showcase .showcase-body p {
        width: 65%;
    }


    .shop-info .container-fluid {
        display: flex;
        justify-content: space-evenly;
    }
    .shop-info .info-box {
        margin: 0 0.8rem;
        flex: 1;
        align-items: center;
    }
}

@media (min-width: 1200px) {

    .showcase .showcase-body h1 {
        font-size: 4rem;
    }
    .showcase img {
        width: 60%;
    }
    .showcase .showcase-body p {
        width: 80%;
    }

    .shop-info {
        padding: 7rem 0 0 0;
    }
        .shop-info .container-fluid {
            max-width: 1600px;
        }
        .shop-info .info-box {
            padding: 1rem;  
        }

}